<footer class="footer">
	<div class="container container-footer">
		<div class="wrapper">
			<p class="phone">
				Контактный телефон:<br>
				+38 (097) 952-14-75<br>
				+38 (066) 123-88-56<br><br>

				Виктория Сахарова
			</p>
			<a href="https://www.facebook.com/groups/kk.dibrova/?ref=share">
				<img src="{{ asset('img/fb.png') }}" alt="" class="imgfooter fb">
			</a>
			<a href="https://instagram.com/kk_vivat?utm_medium=copy_link">
				<img src="{{ asset('img/inst.png') }}" alt="" class="imgfooter inst">
			</a>
			<a href="#">
				<img src="{{ asset('img/telega.png') }}" alt="" class="imgfooter telega">
			</a>
			<p class="phone">
				Адрес: <br>
				Klubnaya str, 1, <br>Timchenki, Харківська область, <br>
				63413
			</p>
		</div>
	</div>
</footer>