{% extends 'base.html.twig' %}

{% block content %}
	<section class="orderService">
		<div class="container .form-container">
			<h1 class=".formH1">Заявка для обратной связи</h1>
			<p class="formP">Оставьте заявку и в течение часа мы с вами <br> свяжемся для более детального обсуждения<br> необходимых услyг</p>
			<div>
				{% if errors is defined %}
					{% for error in errors %}
						<div class="alert alert-danger">{{ error }}</div>
					{% endfor %}
				{% endif %}
			</div>
			<form action="{{ path('createOrder') }}" class="form" method="POST">
				<select name="service" required class="input">
					<option value="0">Выберите услугу</option>
					<option value="1">ШАГОВАЯ ПРОГУЛКА</option>
					<option value="2">АКТИВНАЯ ПРОГУЛКА</option>
					<option value="3">ТРЕНИРОВКА</option>
					<option value="4">АБОНЕМЕНТЫ</option>
					<option value="5">ПОСТОЙ ЛОШАДИ</option>
					<option value="6">УЧАСТИЕ ЛОШАДИ В ФОТОСЕССИЯХ</option>
					<option value="7">КУПАНИЕ С ЛОШАДЬЮ</option>
				</select>

				<input type="name" placeholder="Имя" name="name" class="input" required>
				<input type="phone" placeholder="Номер телефона" name="phone" class="input" required>
				<input type="text" placeholder="Комментарий к заявке" name="comment" class="input">
				<button class="btn btn-form">Отправить заявку</button>
			</form>
		</div>
	</section>
{% endblock %}